<h2>Users</h2>

<p><%= link_to 'Users List', users_path %></p>

<h2>Countries</h2>

<p><%= link_to 'Countries List', countries_path %></p>

<h2>Provinces</h2>

<p><%= link_to 'Provinces List', provinces_path %></p>

<h2>Regions</h2>

<p><%= link_to 'Regions List', regions_path %></p>