<%= form_for(@country) do |f| %>
	<% if @country.errors.any? %>
		<div id="error_explanation">
			<h2>Please fix the below errors before continuing:</h2>
			<ul>
				<% @region.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<table>
	<tbody>
		<tr>
			<td>
				<div class="field">
					Name:
				</div>
			</td>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td colspan="2" id="centered_row">
				<div class="actions">
					<%= f.submit 'Submit' %>
				</div>
			</td>
		</tr>
	</tbody>
	</table>
<% end %>