@import "_variables";

/***************************
STYLES
****************************/

.signup_form {
	table {
		margin: 0 auto;
	}
	td:nth-child(1) {
		text-align: right;
	}
}

.user_list_table {
  color: black;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  a {
    color: black;    
  }
  th {
    padding-right: 10px;
    text-decoration: underline;
  }
  td {
    padding-right: 10px;
  }
}

.user_status_link a {
  color: blue;
}