
/***************************
STYLES
****************************/

#user_signup_form {
	table {
		margin: 0 auto;
	}
	td:nth-child(1) {
		text-align: right;
	}
}

#signup_button {
	text-align: center;
}