@import "_variables";


/***************************
STYLES
****************************/


.front_image {
	margin: 0 auto 0 auto;
	display: block;
}

.wine_details {
	font-size: 1.2em;
	h1 {
		margin: 0 auto 10px auto;
		width: 90%;
		text-align: left;
	}
}

.show_wine_section {
	display: inline-block;
	text-align: left;
	height: 380px;
	//border: 1px solid $logo_color;
	padding: 5px;
	width: 42%;
	margin: 0 0 20px 0;
}

#cellared_details {
	float: left;
	margin-left: 5%;
}

#cataloged_details {
	margin-right: 4%;
}

#wine_list {
	text-align: left;
	width: 55%;
	margin: 20px auto 0 auto;
	font-size: 1.2em;
}

.actions {
	display: inline;
	font-size: .8em;
	a {
		color: $logo_color;
	}
}

.wine_cellar_button {
	font-family: $base_font;
	font-size: 1em;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	margin: 8px auto 8px auto;
	padding: 0 0 5px 0;
	cursor: pointer;
	display: inline-block;
	a {
		color: black;
	}
}

.wine_cellar_button_active {
	@extend .wine_cellar_button;
	background-color: $logo_color;
	a {
		color: $header_color;
	}
}

.wine_cellar_buttons_top {
	margin: 0 0 20px 0;
}

.wine_cellar_buttons_bottom {
	margin: 30px 0 0 0;
}

#wine_info_form {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	height: 440px;
	td:nth-child(1) {
		vertical-align: top;
		text-align: right;
		padding-right: 10px;
	}
}

#wine_form_cellar_info {
	width: 35%;
	display: inline-block;
	text-align: left;
	height: 420px;
	padding: 5px;
	margin: 0 0 0 80px;
	float: left;
}

#wine_form_catalog_info {
	text-align: left;
	height: 420px;
	padding: 5px;
	width: 46%;
	margin: 0 40px 0 0;
	float: right;
}

#add_region_link {
	@extend .wine_cellar_button;
	margin: 3px 3px;
}

.big_field_label {
	vertical-align: top;
}

.hidden_form_field {
	display: none;
}