@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

$base_color: #18252D;
$second_color: #4C5962;
$third_color: #A1C4B6;
$fourth_color: #FFFFAC;
$fifth_color: #F2EFCE;
$header_font: 'Lobster', cursive;
$base_font: 'News Cycle', sans-serif;

html {
	width: 100%;
}

body {
	background: #fff;
	color: #333;
	font-family: $base_font;
	font-size: 13px;
	line-height: 18px;
	margin: 0 auto 0 auto;
	width: 66.5%; /* 904px */
	h1 {
		font-size: 3.2em;
		margin: 5px 0 5px 0;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.17em;
	}
}

header {
	height: 80px;
	font-family: $header_font;
	background-color: $fifth_color;
}

.tagline {
	font-family: $base_font;
}

main {
	background-color: $third_color;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	width: 100%;
}

footer {
	height: 25px;
	background-color: $second_color;
	p {
		color: black;
		margin: 0 5px 0 0;
		text-align: right;
		font-size: .8em;
	}
}

ol, ul, td {
	font-family: $base_font;
	font-size: 1em;
	line-height: 1em;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #000;
	text-decoration: none;
	
	&:visited {
		color: #666;
	}
	&:hover {
		color: #fff;
		background-color: #000;
	}
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#wine_list {
	text-align: center;
	margin-top: 50px;
	table {
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		width: 75%;
		border-spacing: 0px;
		border: 2px solid #a1a1a1;
	
	}
	th {
		padding-right: 10px;
		border-bottom: 1px solid #a1a1a1;
		text-align: left;
		background-color: #cccccc;
		margin: 0px;
		padding-top: 3px;
	}
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
