<h1>Provinces</h1>
<ul>
  <% @provinces.each do |province| %>
  <li><%= province.name %> - <%= link_to 'Edit', edit_province_path(province.id) %></li>
  <% end %>
</ul>

<p><%= link_to 'Add new province', new_province_path %>