<h1>Regions</h1>
<ul>
  <% @regions.each do |region| %>
  <li><%= region.name %> - <%= link_to 'Edit', edit_region_path(region.id) %></li>
  <% end %>
</ul>

<p><%= link_to 'Add new region', new_region_path %> | <%= link_to 'Back', admin_path %></p>