<section>
	<h1>Editing wine</h1>

	<%= render 'form' %>

	<div class="button">
		<%= link_to 'Show', @wine %>
	</div>

	<div class="spacer"></div>

	<div class="button">
		<%= link_to 'Back', wines_path %>
	</div>

</section>