<section>
	<div class="front_image"><%= image_tag "grapes.png" %></div>

	<br>

	<div class="button">
		<%= link_to 'My Wines', wines_path %>
	</div>

	<div class="spacer"></div>
	
	<div class="button">
		<%= link_to 'Add Wine', new_wine_path %>
	</div>
	
</section>